<section class="container">

    <section class="row d-flex justify-content-center align-items-center" style="height:90vh">
        <form action="/atividade/store" method="post" class="col-md-6">
            <h1 class="text-center my-5">Cadastro de Atividades</h1>
            <div class=" mb-3">
                <label for="text">Descrição da atividade</label>
                <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descreva uma atividade para a turma" autofocus> {{!-- o atributo autofocus, é utilizado quando se deseja que ao carregar a página o campo já esteja com o foco ativado --}}

            </div>

            <div class="my-4 d-grid">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>

        </form>
    </section>
</section>