<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h3>Turmas do(a) professor(a) {{nomeUsuario}}</h3>
        <a href="/atividade/create" class="btn btn-primary">Cadastrar atividade</a>
    </section>
    <hr>

    <h4>Turma: {{turma.nome}}</h4>
    <hr>

    <h5 class="my-4">Descrição das atividades </h5>
    <ol class="list-group list-group-numbered">

        {{#each atividades}}
            <li class="list-group-item">{{dataValues.descricao}}</li>
        {{else}}
        <p>Nenhuma atividade cadastrada ainda</p>
        {{/each}}       

    </ol>
</section>