<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h3>Turmas do(a) professor(a) {{nomeUsuario}}</h3>
        <a href="/atividade/create" class="btn btn-primary">Cadastrar atividade</a>
    </section>
    <hr>
    <p class="mb-4"><strong>Turma: </strong>{{turma.nome}}</p>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            {{#each dados}}
            <tr>
                
                <td>{{dataValues.nome}}</td>

            </tr>
            {{else}}
            <p>Nenhuma atividade cadastrada ainda</p>
            {{/each}}

        </tbody>
    </table>
</section>