<section class="container">

    <section class="row d-flex justify-content-center align-items-center" style="height:90vh">
        <form action="/turma/store" method="post" class="col-lg-4 col-md-6">
            <h1 class="text-center my-5">Cadastro de Turmas</h1>
            <div class=" mb-3">
                <label for="nomeTurma">Nome da turma</label>
                <input type="text" class="form-control" id="nomeTurma" name="nomeTurma" placeholder="Informe o nome da turma" autofocus>
                {{!-- o atributo autofocus, é utilizado quando se deseja que ao carregar a página o campo já esteja com o foco ativado --}}

            </div>

            <div class="my-4 d-grid">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>

        </form>
    </section>
</section>